@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 18px;
  color: #767e9e;
  font-family: 'Lato', sans-serif;
  line-height: 30px; }

h1 {
  font-size: 30px;
  color: #666d89;
  margin: 0 0 21px;
  font-weight: 900; }

h2 {
  margin: 0 0 10px;
  font-weight: 900;
  line-height: 1;
  font-size: 18px;
  color: #666d89; }

.flex {
  display: flex;
  flex-wrap: wrap; }
  .flex.jcsb {
    justify-content: space-between; }
  .flex.ais {
    align-items: flex-start; }
  .flex.aic {
    align-items: center; }
  .flex.jcc {
    justify-content: center; }

.blockin {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto; }

header {
  min-height: 95px;
  background: #2d303a;
  border-bottom: 6px solid #323746;
  padding-top: 29px; }

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none; }
  .logo span {
    color: #f06c64; }

.top_menu {
  line-height: 1;
  padding-top: 10px; }
  .top_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center; }
    .top_menu ul li {
      padding-left: 17px;
      margin-left: 11px;
      position: relative; }
      .top_menu ul li:before {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        border-radius: 50%;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #494e62;
        left: 0; }
      .top_menu ul li:first-child {
        padding: 0;
        margin: 0; }
        .top_menu ul li:first-child:before {
          display: none; }
      .top_menu ul li.active a {
        color: #f06c64; }
      .top_menu ul li a {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        display: block;
        line-height: 20px; }
        .top_menu ul li a:hover {
          color: #f06c64; }

.sliderblocks {
  background: #f06c64;
  border-bottom: 6px solid #ea676b; }

.slider {
  position: relative;
  height: 594px; }

.sliderimg {
  position: absolute;
  display: block; }

.slider-img1 {
  position: absolute;
  top: 53px;
  left: 72px; }

.slider-img2 {
  position: absolute;
  top: 174px;
  right: 70px; }

.slidernav {
  position: absolute;
  top: 282px;
  left: 0;
  right: 0;
  height: 0;
  display: flex;
  justify-content: space-between; }
  .slidernav div {
    cursor: pointer;
    width: 16px;
    height: 27px;
    background: url(assets/images/slider-arrow.png) 0 0 no-repeat; }
    .slidernav div:last-child {
      transform: rotate(180deg); }

.our_services_block {
  padding: 61px 0 62px;
  background: #f2f2f2;
  border-bottom: 6px solid #fff; }
  .our_services_block p {
    letter-spacing: -0.1px; }

.our_services_blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; }

.our_block {
  padding: 0 15px;
  width: 33%;
  flex-grow: 2;
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  font-size: 12px;
  line-height: 21px; }
  .our_block img {
    min-width: 59px;
    margin-right: 20px; }

/*# sourceMappingURL=singolo1.css.map */
